@tailwind base;
@tailwind components;
@tailwind utilities;

:where(html),
.type-scale {
  --minor-second: 1.067;
  --major-second: 1.125;
  --minor-third: 1.2;
  --major-third: 1.25;
  --perfect-fourth: 1.333;
  --aug-fourth: 1.414;
  --perfect-fifth: 1.5;
  --golden-ratio: 1.618;

  --system-ui: system-ui, sans-serif;
  --transitional: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
  --old-style: "Iowan Old Style", "Palatino Linotype", "URW Palladio L", P052,
    serif;
  --humanist: Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans",
    source-sans-pro, sans-serif;
  --geometric: Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro,
    sans-serif;
  --classical: Optima, Candara, "Noto Sans", source-sans-pro, sans-serif;
  --grotesque: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans",
    Arial, sans-serif;
  --monospace: "Nimbus Mono PS", "Courier New", monospace;
  --code: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
    "DejaVu Sans Mono", monospace;
  --industrial: Bahnschrift, "DIN Alternate", "Franklin Gothic Medium",
    "Nimbus Sans Narrow", sans-serif-condensed, sans-serif;
  --rounded: ui-rounded, "Hiragino Maru Gothic ProN", Quicksand, Comfortaa,
    Manjari, "Arial Rounded MT", "Arial Rounded MT Bold", Calibri,
    source-sans-pro, sans-serif;
  --slab: Rockwell, "Rockwell Nova", "Roboto Slab", "DejaVu Serif",
    "Sitka Small", serif;
  --antique: Superclarendon, "Bookman Old Style", "URW Bookman", "URW Bookman L",
    "Georgia Pro", Georgia, serif;
  --didone: Didot, "Bodoni MT", "Noto Serif Display", "URW Palladio L", P052,
    Sylfaen, serif;
  --handwritten: "Segoe Print", "Bradley Hand", Chilanka, TSCu_Comic, casual,
    cursive;

  --type-scale: var(--_type-scale, 1.25);
  --min-font: var(--_min-font, 16);
  --max-font: var(--_max-font, calc(var(--min-font) * var(--type-scale)));
  --min-screen: var(--_min-screen, 640);
  --max-screen: var(--_max-screen, 1536);
  --font-difference: calc(var(--max-font) - var(--min-font));
  --screen-difference: calc(var(--max-screen) - var(--min-screen));
  --fluid-font-size: calc(
    var(--min-font) * 1px + (100vw - var(--min-screen) * 1px) *
      var(--font-difference) / var(--screen-difference)
  );
  --leading-display: 1.25;
  --leading-base: 1.5;
  --base-family: var(--system-ui);
  --display-family: var(--system-ui);
  --code-family: var(--code);

  --fluid-base: clamp(
    calc(var(--min-font) * 1px),
    var(--fluid-font-size),
    calc(var(--max-font) * 1px)
  );
  --fluid-lg: calc(var(--fluid-base) * var(--type-scale));
  --fluid-xl: calc(var(--fluid-lg) * var(--type-scale));
  --fluid-2xl: calc(var(--fluid-xl) * var(--type-scale));
  --fluid-3xl: calc(var(--fluid-2xl) * var(--type-scale));
  --fluid-4xl: calc(var(--fluid-3xl) * var(--type-scale));
  --fluid-5xl: calc(var(--fluid-4xl) * var(--type-scale));
  --fluid-sm: calc(var(--fluid-base) / var(--type-scale));
  --fluid-xs: calc(var(--fluid-sm) / var(--type-scale));
}
